@model PetForAdoptionProfileViewModel
@{
    ViewBag.Title = "Personal Profile";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<div class="text-center">
    <h1 class="display-1 justify-content-center"><strong>Welcome to my personal profile!</strong></h1>
</div>
<input asp-for="@Model.Id" type="hidden" />
<section id="about">
    <div class="container mt-4 pt-4 bg-light p-2 text-dark bg-opacity-75">
        <h3 class="text-center">About Me</h3>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="@Model.ImageUrl" class="imageAboutPage" alt="photo of me">
            </div>


            <div class="col-lg-8">
                <p>
                    I am one @Model.Description.ToLower()
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: @Model.Name</li>
                            <li>Date Of Birth: @Model.DateOfBirth</li>
                            <li>Pet Type: @Model.PetType</li>
                            <li>Pet Gender: @Model.Gender</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            @if (Model.Breed != null)
                            {
                                <li>Breed: @Model.Breed</li>
                            }
                            @if (Model.Address != null)
                            {
                                <li>Address: @Model.Address</li>
                            }
                            <li>Shelter: @Model.Shelter</li>
                            <li>Color: @Model.Color</li>

                        </ul>
                    </div>
                </div>

                @if (!Model.IsAdopted)
                {
                     <a asp-controller="Adopt" asp-action="Adoption" asp-route-id="@Model.Id" class="btn btn-warning">Adopt me!</a>
                }
                else
                {
                    <p>This pet has already been adopted.</p>
                }

                @if (Model.PetType.ToLower() == "dog")
                {
                    <a asp-controller="Adopt" asp-action="AdoptDog" class="btn btn-primary">All Dogs For Adoption</a>
                }

                @if (Model.PetType.ToLower() == "cat")
                {
                    <a asp-controller="Adopt" asp-action="AdoptCat" class="btn btn-primary">All Cats For Adoption</a>
                }

                @if (Model.PetType.ToLower() == "bird")
                {
                    <a asp-controller="Adopt" asp-action="AdoptBird" class="btn btn-primary">All Birds For Adoption</a>
                }

                @if (Model.PetType.ToLower() == "rabbit")
                {
                    <a asp-controller="Adopt" asp-action="AdoptRabbit" class="btn btn-primary">All Rabbits For Adoption</a>
                }

                <a asp-controller="Adopt" asp-action="Adopt" class="btn btn-primary">All Pets For Adoption</a>

                @*    @if (User.Identity.Name == Model.User)
                {
                <a asp-controller="PetForAdoption" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="PetForAdoption" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                }*@

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
