@model ShelterProfileViewModel

@{
    ViewData["Title"] = "Shelter Details";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<section id="about">
    <div class="container mt-4 pt-4 bg-light p-2 text-dark bg-opacity-75">
        <h2 class="text-center">Shelter Details</h2>

        <div>
            <h3>Name:</h3>
            <p>@Model.Name</p>
        </div>

        <div>
            <h3>Address:</h3>
            <p>@Model.Address</p>
        </div>

        @if (Model.PetsForAdoption.Any())
        {
            <div>
                <h3 class="text-center">Pets Available for Adoption:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Pet Type</th>
                            <th>Breed</th>
                            <th>Date of birth</th>
                            <th>Adopt me</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pet in Model.PetsForAdoption)
                        {
                            <tr>
                                <td>@pet.Name</td>
                                <td>@pet.PetType</td>
                                @if (pet.Breed != null)
                                {
                                    <td>@pet.Breed</td>
                                }
                                else
                                {
                                    <td>No breed</td>
                                }
                                <td>@pet.DateOfBirth</td>
                                <td>
                                    <a asp-area="" asp-controller="Adopt" asp-action="Adoption" asp-route-id="@pet.Id" class="btn btn-secondary">Adopt
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1.133l.941.502A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765L2 3.133V2Zm0 2.267-.47.25A1 1 0 0 0 1 5.4v.817l1 .6v-2.55Zm1 3.15 3.75 2.25L8 8.917l1.25.75L13 7.417V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v5.417Zm11-.6 1-.6V5.4a1 1 0 0 0-.53-.882L14 4.267v2.55ZM8 2.982C9.664 1.309 13.825 4.236 8 8 2.175 4.236 6.336 1.31 8 2.982Zm7 4.401-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734Z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h3 class="text-center">No pets for adoption available!</h3>
        }

        @if (Model.Adoptions.Any())
        {
            <div>
                <h3 class="text-center mt-5">Adoptions:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Adopter</th>
                            <th>Pet</th>
                            <th>More Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var adoption in Model.Adoptions)
                        {
                            <tr>
                                <td>@adoption.Adopter</td>
                                <td>@adoption.Pet</td>
                                @if (adoption.MoreInformation != null)
                                {
                                    <td>@adoption.MoreInformation</td>
                                }
                                else
                                {
                                    <td>No more information</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h3 class="text-center">No adoptions added yet!</h3>
        }
    </div>
</section>
